.m-btn{
    display: flex;
    align-items: center;
    background-color: #019610;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

    .m-btn:hover{
        background-color:#2fbe8e;
    }

    .m-btn .m-btn-icon{
        background-position: center;
    }

    .m-btn .btn-text {
        margin-left: 8px;
    }