.m-btn{
    display: flex;
    align-items: center;
    background-color: #019610;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

    .m-btn:hover{
        background-color:#2fbe8e;
    }

    .m-btn .m-btn-icon{
        background-position: center;
    }

    .m-btn .btn-text {
        margin-left: 8px;
    }

.m-second-button{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

    .m-second-button:hover{
        background-color: #e9ebee;
    }
.m-btn-refresh{
    background-image: url('/content/icon/refresh.png');
    /* height: 16px;
    width: 16px; */
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
    background-position: center;
}

.m-circle-btn{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
    .m-circle-btn:hover{
        background-color: #BBBBBB;
        cursor: pointer;
    }