.text-align-right{
    text-align: right;

}

.text-align-center{
    text-align: center;
}

input[type="radio"] {
    
    background-color: #E5E5E5;
    /* border: 1px solid black; */
    margin: auto;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
 
  
  input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
    background-color: #01B075;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  label span:first-of-type {
    position: relative;
    left: -24px;
    font-size: 13px;
    color: black;
  }
  
  label span {
    position: relative;
    top: -16px;
  }