.content{
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc( 100% - 253px);
    height: calc(100vh - 93px);
    padding: 16px;
    
}

    /* page title */
    .content .header-content{
        padding: 16px;
        display: flex;
        align-items: center;
    }

        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        
        .content .header-content .content-feature{
            position: absolute;
            right: 16px;

        }
        
/* filter-bar */
.content .filter-bar{
    width: 100%;
    display: flex;
    align-items: center;
}

/* Pagging */
.content .paging-bar{
    height: 56px;
    display: flex;
    border-top: 1px solid #ccc;
    align-items: center;
    
}
    .paging-bar .paging-record-info{
        position: absolute;
        left: 10px
    }
    .paging-bar .pagin-record-option{
        position: absolute;
        right: 10px
    }   
    .paging-bar .paging-option{
        display: flex;
        margin: auto;
    }
 
    .paging-number{
        margin-left: 6px;
    }
    .paging-back-all{
        background-image: url('/content/icon/btn-firstpage.svg');
    }

    .paging-back-one{
        background-image: url('/content/icon/btn-prev-page.svg');
    }
    .paging-next-one{
        background-image: url('/content/icon/btn-next-page.svg');
    }
    .paging-next-all{
        background-image: url('/content/icon/btn-lastpage.svg');
    }

#page1 {

    background-color: #E5E5E5;
    /* border: 1px solid black; */
    margin: auto;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
    }
    
    
    
    #page1:checked { /*no need, if you don't disable default appearance*/
    background-color: #01B075;
    }
    
    #page1:checked ~ span:first-of-type {
    color: white;
    }
    
.paging-number label span:first-of-type {
    position: relative;
    left: -24px;
    font-size: 13px;
    color: black;
}

.paging-number label span {
    position: relative;
    top: -16px;
}

.first-line{
    background-color: black;
}