.content{
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc( 100% - 253px);
    height: calc(100vh - 93px);
    padding: 16px;
    
}

    /* page title */
    .content .header-content{
        padding: 16px;
        display: flex;
        align-items: center;
    }

        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        
        .content .header-content .content-feature{
            position: absolute;
            right: 16px;

        }
        
/* filter-bar */
.content .filter-bar{
    width: 100%;
    display: flex;
    align-items: center;
}

/* Pagging */
.content .paging-bar{
    height: 56px;
    border-top: 1px solid #ccc;
}