.header{
    display: flex;
    
    width: calc(100% - 221px);
    height: 48px;
    border-bottom: 1px solid #e5e5e5;
}

.department-info{
    align-items: center;
    line-height: 48px;
}

    .department-info .select-restaurant{
        /* border: 1px solid #BBBBBB; */
        height: 40px;
        border-radius: 4px;
        color: #000000;
        
        
    }
.account-info{
    height: 48px;
    position: absolute;
    right: 16px;
    align-items: center;
    display: flex;
    margin-right: 16px;
}
    .account-info .account-avatar{
        width: 24px;
        height: 24px;
        background-image: url('/content/icon/avatar-default.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin: 16px;
    }

    .account-info .account-name{
        text-decoration: wavy;
    }
