.icon-option-default-16 {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/content/icon/option.png');
    margin-left: 16px;
}
 
.icon-add {
    width: 16px ;
    height: 16px;
    background-image: url('/content/icon/add.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-search {
    background-image: url('/content/img/icon-search.webp');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
}