.icon-save {
    width: 16px ;
    height: 16px;
    background-image: url('/Js/content/icon/add.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-add {
    width: 16px ;
    height: 16px;
    background-image: url('/Js/content/icon/add.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-search {
    background-image: url('/Js/content/img/icon-search.webp');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-refresh {
    background-image: url('/Js/content/icon/refresh.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10px;
    position: relative;
}

.icon-option-account{
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/Js/content/icon/option.png');
    margin-left: 16px;
}