@import "./basic/button.css";
@import "./basic/icon.css";
@import "./basic/table.css";
@import "./basic/input.css";
@import "./basic/toolbar.css";

@import "./layout/navbar.css";
@import "./layout/header.css";
@import "./layout/content.css";

@import "./view/employee.css";

body {
    margin: 0;
    font-family: GoogleSans-Regular !important;
    font-size: 13px !important;
}

@font-face{
    font-family: 'GoogleSans-Regular';
    src: url('../src/assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../src/assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../src/assets/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../src/assets/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../src/assets/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../src/assets/font/GoogleSans-Black.otf') format('opentype');
}