body {
    font-family: GoogleSans-Regular;
    font-size:13px;
    margin: 0;
}
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('/Js/content/font/GoogleSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-BlackItalic';
    src: url('/Js/content/font/GoogleSans-BlackItalic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/Js/content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSansss-BoldItalic';
    src: url('/Js/content/font/GoogleSans-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('/Js/content/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Light';
    src: url('/Js/content/font/GoogleSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-LightItalic';
    src: url('/Js/content/font/GoogleSans-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('/Js/content/font/GoogleSans-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: url('/Js/content/font/GoogleSans-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/Js/content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('/Js/content/font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-ThinItalic';
    src: url('/Js/content/font/GoogleSans-ThinItalic.otf') format('opentype');
}