.icon-dashboard{
    background-image: url('../../src/assets/icon/dashboard.png');
}
.icon-report{
    background-image: url('../../src/assets/icon/report.png');}
.icon-personnel{
    background-image: url('../../src/assets/icon/dic-employee.png');
}
.icon-setting{
    background-image: url('../../src/assets/icon/setting.png');
}