/* == */
.data-table{
    width: 100%;
    height: calc(100vh - 230px) ;
    overflow: scroll;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
}
table th, td {
    border-bottom: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    padding: 10px 16px;
    text-align: center;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    max-height: 100%;
    /* border-collapse: collapse; */

}
    thead th {
        position: sticky;
        top: 0;
        background-color: #019160;  
    }

    table tr:hover{
        cursor: pointer;
        background-color: #e5e5e5;
    }
    table tr:active{
        background-color: #01B075;
    }
