.form-add-customer {
    width: 700px;
    height: 612px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    /* display: none; */
    /* background-color: burlywood; */
}

.form-header {
    width: 100%;
    height: 72px;
    text-align: left;
}

.basic-info {
    width: 100%;
    height: 228px;
    /* background-color: red; */
    display: flex;
    /* margin-top: 24px; */
}
    .insert-image {
        width: 200px;
        height: 100%;
        /* margin-right: 16px; */
        margin-left: 24px;
        /* border: 1px solid yellow; */

    }

        .insert-image .avatar {
            border: 1px solid #bbbbbb;
            border-radius: 50%;
            width: 100%;
            height: 188px;
            background-image: url('/content/img/default-avatar.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .insert-image .hint{
            text-align: center;
            /* border: 1px solid red; */
            width: 100%;
        }

    .basic-info .col-left-1{
        width: 200px;
        height: 100%;
        /* border: 1px solid yellow; */
        margin-left: 24px;
        margin-right: 16px;
    }

        .input-customer-field{
            margin-top: 16px;
            
        }

            .input-box-small{
                margin-top: 4px;
            }

            .input-date{
                width: 169px;
                height: 15px;
            }

            .input-box-medium{
                width: 392px;
                margin-top: 4px;   
            }

            .input-box-large{
                margin-top: 4px;
                width: 608px;
            }
        
        .radio-box-small{
            margin-top: 4px;
            align-items: center;
            text-align: left;
            height: 36px;
            line-height: 36px;
        }

    .col-right{
        /* border: 1px solid black; */

        width: 200px;
        height: 100%;
        /* border: 1px solid yellow; */
        /* margin-left: 16px; */
        margin-right: 24px;
    }
        .group-customer{
            /* border: none; */
            margin-top: 4px;
            width: 202px;
            height: 36px;
            border-radius: 4px;
            border: 1px solid #bbbbbb;
            color: #000000;
        }

    .contact-info .col-left-2{
        
        width: 424px;
        height: 100%;
        /* border: 1px solid black; */
        margin-left: 24px;
        margin-right: 16px;
    }

.contact-info{
    display: flex;
    width: 100%;
    height: 228px;
    /* background-color: blue; */

}

.form-footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #BBBBBB;
    margin-top: 24px;
    outline: none;
    line-height: 60px;
    align-self: center;
    align-content: center;
}