.btn-basic {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    cursor: pointer;
}

.btn-basic :hover {
    background-color: #2FBE8E;
}

.btn-basic :active {
    background-color: #01B075;
}
/* ======================== */

.btn-with-icon {
    height: 36px !important;
    width: auto;
    display: flex;
    align-items: center;
    border: none;
    margin: 0 !important;
    padding: 0 7px !important;
    /* border: none; */
    cursor: pointer;
    font: 400 13px GoogleSans;
    color: #fff;
    padding: 0 5px;
    background-color: #2b3173;
    justify-content: center;
    /* border-right: 1px solid #190472 !important; */
    outline: none;
}

.btn-end{
    border: none !important;
}
.btn-with-icon:hover {
    background-color: #6b6f9d;
}

.btn-with-icon:active {
    background-color: #1e235a;      
}

.btn-refresh:hover {
    background-color: #BBBBBB;
    cursor: pointer;
}

.text-btn {
    font: 400 13px GoogleSans-Regular;
    color: #fff;
    padding: 0 5px;
    line-height: 36px;
    white-space: nowrap;
    max-width: 100%;
}

.icon-btn {
    background-position: center;
}
/* =============================== */
/* .btnDelete{
} */

.btn-only-icon {
    padding: 4px;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 15px;
    border: solid 1px #808080;
    align-items: center;
    justify-content: center;
}

.btn-circle {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

.btn-circle:hover {
    background-color: #BBBBBB;
    cursor: pointer;
}