.icon-option-default-16 {
    width: 16px;
    height: 16px;
    /* background-image: url('../../src/assets/icon/option.png'); */
    background-position: center;
    background-repeat: no-repeat;
}

.icon-add {
    background-image: url('../../assets/icon/common-icon.png');
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-position: -1px -127px;
}

.icon-duplicate {
    background-image: url('../../assets/icon/common-icon.png');
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-position: -976px -127px;
}

.icon-edit {
    background-image: url('../../assets/icon/common-icon.png');
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-position: -77px -203px;
}

.icon-delete {
    background-image: url('../../assets/icon/common-icon.png');
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-position: -1076px -127px;
}

.icon-reload {
    background-image: url('../../assets/icon/common-icon.png');
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-position: -876px -127px;
}

.icon-help-18 {
    background-image: url('../../assets/icon/icon_help_18.png');
    width: 18px;
    height: 18px;
    margin-right: 3px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-notify-18 {
    background-image: url('../../assets/icon/icon-notify-18.png');
    width: 18px;
    height: 18px;
    margin-right: 3px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-misa-support {
    background: #2b3173 url('../../assets/icon/icon-misa-support.png');
    background-repeat: no-repeat;
}

.icon-overview {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: 0px 6px;
}

.icon-report {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: -29px -273px;
}

.icon-order {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: -29px -273px;
}

.icon-purchase {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: -29px -33px;
}

.icon-promotion {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: 0px -193px;
}

.icon-store-manager {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: 0px -233px;
}

.icon-goods {
    background-image: url('../../assets/icon/slibar-menu.png');
    background-position: 0px -350px;
}
/*===================== paging ==============================*/
.icon-return{
    background-image: url('../../assets/icon/common-icon.png');
    background-position: -649px -124px;
}
.icon-back{
    background-image: url('../../assets/icon/common-icon.png');
    background-position: -700px -124px;
}
.icon-next{
    background-image: url('../../assets/icon/common-icon.png');
    background-position: -749px -124px;
}
.icon-end{
    background-image: url('../../assets/icon/common-icon.png');
    background-position: -798px -124px;
}
.icon-refresh{
    background-image: url('../../assets/icon/common-icon.png');
    background-position: -849px -124px;
}
/* ======================================= */
.icon-arrow-down{
    background: url('../../assets/icon/icon-arrow-down.png') no-repeat;
    background-position: 38px center;
}