/* Pagging bar */

.paging-bar {
    overflow: hidden;
    display: flex;
    position: relative;
    bottom: 0px;
    height: 32px;
    width: calc(100% - 20px);
    background-color: #ffffff;
    /* background-color: red; */
    /* line-height: 32px;   */
    padding: 10px; 
}
.paging-content{
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    /* margin */
    /* height: 32px; */
    width: 100%;
    line-height: 32px;
    /* vertical-align: middle; */
}
.paging-option{
    display:flex;
    line-height: 52px;
    position: relative;
    align-items: center;
    /* height: 100%; */
    /* margin-left: 12px; */
}
.btn-paging{
    padding: 0;
    right: auto;
    top: 3px;
    margin: 1px;
    
    outline: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #6b6f9d;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle; 

    text-align: center;

    margin-right: 1px;
}

.paging-record-infor{
    position: absolute;
    right: 10px;
    /* top: 8px; */
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
}

.paging-text{
    align-self: center;
    text-align: center;
    padding: 0px 4px;
    margin: 4px;
    white-space: nowrap;

}
.input-paging{
    width: 34px;
    height: 14px;
    padding: 4px 6px;
    text-align-last: center;
    border: 1px solid #6b6f9d;
    border-radius: 3px;

    margin: 4px;
}
.select-number-records{
    /* remove arrow */
    -webkit-appearance: none;

    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    height: 26px;
    width: 50px;
    text-indent: 1px;

    background: url('../../assets/icon/icon-arrow-down.png') no-repeat;
    background-position: 32px center;
}
.store-infor{
    text-align-last: center;
    padding: 0 7px;
    -webkit-appearance: none;
}