/* Table data in store list */

.data-table {
    position: absolute;
    top: 0;
    left: 0;
}

.grid {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: red; */
}

.grid table {
    width: 100%;
}

.grid table thead {
    width: 100%;
}

.grid table thead tr th {
    white-space: nowrap;
    /* border-bottom: 1px solid #bbbbbb; */
    text-align: center;
    font-weight: bold !important;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    /* border-right: 1px solid #bbbbbb; */
    border-right: 1px solid #e4e4e4;
    /* border-left: 1px solid #e4e4e4; */

    padding: 0;
    /* border-left: 1px solid #bbbbbb; */
}

.grid table th .cell {
    padding: 15px 16px !important;
}

.grid table td {
    /* border-bottom: 1px solid #bbbbbb; */
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    /*border-left: 1px solid #bbbbbb;*/
    padding: 7px 10px 6px;
    
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
margin: 0;
    /* border-color: #d0d0d0; */
    height: 32px;
    /* border-color: red; */
}
.grid table tr:active{
    background-color: #E2E4F1;
}
.grid table tr:hover{
    background-color: #EAEFF4;
}

.table-row {}

.row-actived {}

.grid table th .cell {
    padding: 15px 16px !important;
}

tbody tr:nth-child(2n+1) {
    background-color: #fafafa;
}

/* ================= */

.store-code {
    position: relative;
    left: 0;
    width: 160px !important;
    height: 64px !important;
    margin: 0;
    padding: 0;
    /* background-color: red !important; */
}

.store-name {
    position: relative;
    left: 0;
    width: 250px !important;
    margin: 0;
}

.store-address {
    position: relative;
    left: 0;
    width: 458px !important;
    margin: 0;
}

.store-phone {
    position: relative;
    left: 0;
    width: 109px !important;
    margin: 0;
    /* padding: 7px 10px 6px; */
}
.store-status {
    position: relative;
    right: 0;
    /* width: 149px; */
}
/* =========== */
.th-name{
    position: absolute;
    top: 0;
    background-color: #f0f0f0 !important;
    height: 32px;
    width: 100%;
    line-height: 32px;
}
.th-filter{
    position:absolute;
    bottom: 2px;
    height: 30px;
    width: 100% !important;
    /* background-color: red  !important; */
}
.btn-filter{
    position: absolute;
    left: 0;
    margin: 0px;
    width: 34px;
    height: 32px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0;
    padding: 7px;
    border: 1px solid #e1e1e1;
    outline: none;
}
.btn-filter:active{
    border: 1px solid black;
}
/* ========== */
.input-filter{
    position: absolute;
    right: 0;
    margin: 0px;
    width: calc(100% - 56px);
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}
.input-filter:active{
    border: red;
}